/* ========= Header css start from here ========= */
.main-header.sticky {
  transition: all 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  /* animation: slideDown 0.5s ease-in-out; */
}
/* ========= Header css end ========= */

/* ========= Pagination css start from here ========= */
/* ========= Pagination css end ========= */

/* ========= Header css start from here ========= */
/* ========= header css end ========= */

/* @keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
} */
